.checkbox-group label.active svg path {
  fill: #ffffff;
}
.checkbox-group label input {
  display: none;
}
.location-form .form-row {
  margin: 20px -15px;
}
.location-form ::placeholder,
.location-form select {
  color: #696969;
  font-size: 14px;
}
.location-form .form-control {
  box-shadow: none;
  border: 1px solid #cbcbcb;
  margin: 0px 0px 0px;
  padding: 12px 20px 12px 45px;
  position: relative;
  z-index: 99;
}
.location-form .input-group span.icon {
  position: absolute;
  content: "";
  left: 10px;
  top: 6px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 18px 15px;
  transform: scale(0.8);
  z-index: 100;
}
.location-form .input-group .icon-cctv {
  background: url("../../../assets/images/cctv-icon.png");
}
.location-form .form-control{
  border-radius: 10px !important;
  margin-bottom: 8px !important;
  border-width: 2px !important;
}