 svg path {
    fill: #3498DB;
}
.checkbox-group label span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.checkbox-group label input:checked + span {
    background-color: #3498DB;
}
.checkbox-group label input:checked + span svg path {
    fill: #ffffff;
}
.checkbox-group label input {
    display: none;
}
.location-form .form-row {
    margin: 20px -15px;
}
.location-form ::placeholder, .location-form select {
    color: #696969;
    font-size: 14px;
}
.location-form .form-control {
    box-shadow: none;
    border: 1px solid #CBCBCB;
    margin: 0px 0px 0px;
    padding: 12px 20px 12px 45px;
    position: relative;
    z-index: 99;
}
.location-form .input-group span.icon{
    position: absolute;
    content: "";
    left: 10px;
    top: 6px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 18px 15px;
    transform: scale(0.8);
    z-index: 100;
}
.location-form .input-group .icon-home{
    background: url("../../../assets/images/home-icon.png") ;
}
.location-form .input-group .icon-web {
    background: url("../../../assets/images/web-icon.png") ;
}
.location-form .input-group .icon-location {
    background: url("../../../assets/images/location-icon.png") ;
}
.input-group input, .input-group select{
    border-radius: 10px !important;
    margin-bottom: 15px !important;
    border-width: 2px !important;
}