<div class="form-inner greet-form my-5">
  <h3 class="heading-top text-center">Congratulations!</h3>

  <div class="greet-content">
    <p class="mt-5 pera">
      You finished the automatic quote flow. In maximum 15 minutes you should
      receive the quote on email. Make sure to also check the spam folder, just
      in case.
    </p>
    <p></p>

    <p class="mt-2 pera">
      If you don’t receive your quote in 15 minutes, you can contact us on email
      and request details about
      <strong>QUOTE ID: RO12345.</strong>
    </p>

    <p class="mt-3 pera">
      If there are available implementation partners for your area, we will also
      send you their details.
    </p>
  </div>

  <div class="greet-footer">
    <img src="assets/images/rocket-icon.png" alt="rocket-icon" />
  </div>
</div>
