<div
  class="form-inner welcome-form"
>
  <h3 class="heading-top text-center mb-4">Access configuration</h3>
  <p class="mx-2 pera mb-4 mt-4 pt-2">
    Now that you covered the basic it is time to configure your access.
  </p>

  <p class="mx-2 pera my-4">
    You will set up configurations for pedestrian access and will apply that
    configuration to several access points.
  </p>

  <p class="mx-2 pera my-4">
    You can create as many access profiles as needed but you must have each
    access point matched to an access profile.
  </p>

  <div class="button-group w-100 mt-120">
    <button class="btn btn-next" (click)="nextButtonClicked()">NEXT</button>
    <button class="btn btn-back mt-2" (click)="goBack()">Back</button>
  </div>
</div>
