<div
  class="form-inner welcome-form "
>
  <h3 class="heading-top text-center">Access configuration</h3>
  <p class="pera">
    Vehicle access configurations are set up separately because they involve different triggers and systems. 
  </p>

  <p class="pera">
    You will set up configurations for vehicle access and will apply that configuration to several access points. 
  </p>

  <p class="pera">
    You can create as many access profiles as needed but you must have each access point matched to an access profile.
  </p>

  <div class="button-group w-100">
    <button class="btn btn-next" (click)="nextButtonClick()">Next</button>
    <button class="btn btn-back mt-2" (click)="goBack()">Back</button>
  </div>
</div>
