/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.mt-80 {
  margin-top: 80px;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.form-right {
  padding: 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-inner .heading-top {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 19px;
}
.form-inner .sub {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #08073a;
  margin-bottom: 21px;
}
.intro-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}
.text-small {
  color: #696969;
  font-size: 16px;
  font-weight: 400;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px !important;
  align-items: center;
  justify-content: center;
}
.checkbox-item {
  margin: 0px 15px 10px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
}
.checkbox-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 100%;
  text-align: center;
  color: #696969;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.checkbox-group label {
  width: 170px;
  height: 170px;
  border: 2px solid #5fa3de;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 12px;
  cursor: pointer;
  border-radius: 5px;
}
.checkbox-group label svg path {
  fill: #3498db;
}
.checkbox-group label.active {
  background-color: #3498db;
}
.checkbox-group label.active svg path {
  fill: #ffffff;
}
.checkbox-group label input {
  display: none;
}
.checkbox-group .checkbox-bottom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  text-align: center;
  color: #696969;
}
.welcome-form .button-group {
  margin-top: 45px;
}

.welcome-form .inline-checkbox {
  display: inline-flex;
  align-items: center;
}
.welcome-form .inline-checkbox small {
  display: inline-block;
  padding-left: 10px;
}
.welcome-form .btn-cancel {
  background-color: #ec7063;
  border: 2px solid #ec7063;
  color: #fff;
  font-size: 16px;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  width: 100%;
}
.welcome-form .btn-cancel:hover {
  border: 2px solid #ec7063;
  color: #ec7063;
  transition: all 0.5s ease;
  background-color: #fff;
}
.btn-next {
  background: #3498db;
  border: 4px solid #3498db;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  border-radius: 10px;
  height: 50px;
}
.btn-back {
  border: 4px solid #3498db;
  background-color: #fff;
  color: #3498db;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  border-radius: 10px;
  height: 50px;
}
.btn-next:hover {
  background: transparent;
  color: #3498db;
  transition: all 0.5s ease;
}
.btn-back:hover {
  background-color: #3498db;
  color: #ffffff;
  transition: all 0.5s ease;
}
.row-main {
  display: flex;
  align-items: center;
}
.btn-back:hover {
  background-color: #3498db;
  color: #ffffff;
}
.pera {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #08073a;
}
.small-pera {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}
select {
  -webkit-appearance: inherit !important;
}
@media screen and (min-width: 992px) {
  .col-adjust-1 {
    flex: 0 0 auto;
    width: 55.333333%;
  }
  .col-adjust-2 {
    flex: 0 0 auto;
    width: 44.666666%;
  }
  .column-left {
    position: sticky;
    top: 0;
  }
}
@media screen and (max-width: 1399px) {
  .checkbox-item {
    width: 170px;
  }
  .checkbox-group label,
  .input-item {
    width: 170px;
    height: 170px;
    border: 2px solid #3498db;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .form-inner {
    margin-top: 50px;
    padding: 30px 50px !important;
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}
@media screen and (min-width: 1400px){
  .form-inner {
    margin-top: 50px;
    padding: 0px 10px !important;
  }
}
@media (max-width: 992px) {
  
  .left-image {
    height: 500px !important;
  }
  .column-left {
    padding: 0 15px;
  }
}
@media (max-width: 660px) {
  .left-image {
    height: 300px !important;
  }
  /* .form-inner {
    margin-top: 300px;
  } */
}
.error-msg {
  color: #a94442;
}
.fix-error-icon {
  top: 27px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}
.add-access {
  cursor: pointer !important;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #3498db;
  margin: 8px !important;
}
@media screen and (max-width: 767px) {
  .checkmark{
    top: 0px !important;
  }
}